[Desktop Entry]
Encoding=UTF-8
Terminal=false
Categories=Qt;KDE;Rivendell;
Name=RDCatch
GenericName=Rivendell Event Scheduler
Exec=rdcatch
Icon=rdcatch
Type=Application
Terminal=false
StartupWMClass=rdcatch
