[Desktop Entry]
Encoding=UTF-8
Terminal=false
Categories=Qt;KDE;Rivendell;
Name=RDLibrary
GenericName=Rivendell Library
Exec=rdlibrary
Icon=rivendell
Type=Application
Terminal=false

