[Desktop Entry]
Encoding=UTF-8
Terminal=false
Categories=Qt;KDE;Rivendell;
Name=RDDBConfig
GenericName=Rivendell Database Management
Exec=rddbconfig
Icon=rdadmin
Type=Application
Terminal=false
X-KDE-SubstituteUID=true
X-KDE-Username=root
StartupWMClass=rdadmin
