[Desktop Entry]
Encoding=UTF-8
Terminal=false
Categories=Qt;KDE;Rivendell;
Name=RDAlsaConfig
GenericName=Rivendell ALSA Configuration
Exec=rdalsaconfig --manage-daemons
Icon=rivendell
Type=Application
Terminal=false
X-KDE-SubstituteUID=true
X-KDE-Username=root
