[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Categories=Qt;KDE;Rivendell;
Name=RDAirPlay
GenericName=Rivendell On-Air Playout
Exec=rdairplay
Icon=rivendell
