[Desktop Entry]
Encoding=UTF-8
Terminal=false
Categories=Qt;KDE;Rivendell;
Name=RDSoftKeys
GenericName=Rivendell RML Button Panel
Exec=rdsoftkeys
Icon=rivendell
Type=Application
Terminal=false

