[Desktop Entry]
Encoding=UTF-8
Terminal=false
Categories=Qt;KDE;Rivendell;
Name=RMLSend
GenericName=Rivendell RML Applet
Exec=rmlsend
Icon=rivendell
Type=Application
Terminal=false
