*~
*.cgi
*.la
*.lo
*.o
*.qm
*.rlm
*.so
rivendell-*.tar.gz
rivendell-*.zip
.AppleDouble
.deps
.libs
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
make_slack
missing
Makefile.in
Makefile
moc_*
rdrepld-suse
rivendell
rivendell-suse
rivendell.spec
slack-desc
