*~
*.1
*.5
*.8
*.cgi
*.dll
*.exe
*.la
*.lib
*.lo
*.o
*.obj
*.qm
*.rlm
*.rpm
*.so
*.xsl
rivendell-*.tar.gz
rivendell-*.zip
.AppleDouble
.deps
.libs
aclocal.m4
apis/rivwebcapi/rivwebcapi.pc
apis/rivwebcapi/tests/*_test
autom4te.cache
cae/caed
compile
conf/rd-bin.conf
config.guess
config.log
config.status
config.sub
configure
depcomp
docs/apis/*.html
docs/apis/*.pdf
docs/opsguide/*.html
docs/opsguide/*.pdf
docs/opsguide/chain.png
docs/opsguide/frontspiece.xml
docs/opsguide/mic16.png
docs/opsguide/music.png
docs/opsguide/notemarker.png
docs/opsguide/play.png
docs/opsguide/rml5.png
docs/opsguide/track_cart.png
docs/opsguide/traffic.png
docs/opsguide/trashcan-32x32.png
docs/rivwebcapi/*.7
docs/rivwebcapi/*.html
docs/rivwebcapi/*.pdf
helpers/cwrap
helpers/docbook
helpers/install_python.sh
helpers/jsmin
importers/nexgen_filter
importers/panel_copy
importers/rdcatch_copy
importers/rivendell_filter
importers/sas_filter
importers/wings_filter
install-sh
lib/rdpaths.h
libtool
ltmain.sh
m4
make_slack
missing
Makefile.in
Makefile
moc_*
py-compile
rdadmin/global_credits.c
rdadmin/global_credits.cpp
rdadmin/global_gpl2.c
rdadmin/global_gpl2.cpp
rdadmin/rdadmin
rdairplay/rdairplay
rdcastmanager/rdcastmanager
rdcartslots/rdcartslots
rdcatch/rdcatch
rdcatchd/rdcatchd
rdlibrary/rdlibrary
rdlogedit/rdlogedit
rdlogin/rdlogin
rdlogmanager/rdlogmanager
rdmonitor/rdmonitor
rdpadd/rdpadd
rdpadengined/rdpadengined
rdpanel/rdpanel
rdrepld/rdrepld
rdrepld-suse
rdselect/rdselect
rdservice/rdservice
rdvairplayd/rdvairplayd
ripcd/ripcd
rivendell
rivendell-suse
rivendell.spec
slack-desc
systemd/rivendell.service
tests/audio_convert_test
tests/audio_export_test
tests/audio_import_test
tests/audio_metadata_test
tests/audio_peaks_test
tests/cmdline_parser_test
tests/datedecode_test
tests/dateparse_test
tests/db_charset_test
tests/download_test
tests/getpids_test
tests/log_unlink_test
tests/mcast_recv_test
tests/metadata_wildcard_test
tests/notification_test
tests/rdxml_parse_test
tests/readcd_test
tests/reserve_carts_test
tests/sas_switch_torture
tests/sas_torture
tests/stringcode_test
tests/test_hash
tests/test_pam
tests/timer_test
tests/upload_test
tests/wav_chunk_test
utils/rdauth/rdauth
utils/rdconvert/rdconvert
utils/rdhpiinfo/rdhpiinfo
utils/rddgimport/rddgimport
utils/rddiscimport/rddiscimport
utils/rdcheckcuts/rdcheckcuts
utils/rdmarkerset/rdmarkerset
utils/rdmetadata/rdmetadata
utils/rmlsend/rmlsend
utils/rdpurgecasts/rdpurgecasts
utils/rdchunk/rdchunk
utils/rdclilogedit/rdclilogedit
utils/rdcleandirs/rdcleandirs
utils/rdsoftkeys/rdsoftkeys
utils/rddbcheck/rddbcheck
utils/rddbconfig/rddbconfig
utils/rdalsaconfig/rdalsaconfig
utils/rdpopup/rdpopup
utils/rddbmgr/rddbmgr
utils/rddelete/rddelete
utils/rdgpimon/rdgpimon
utils/rdimport/rdimport
utils/rdcollect/rdcollect
utils/rdexport/rdexport
utils/rdmaint/rdmaint
utils/rdgen/rdgen
utils/rdrender/rdrender
utils/rdrevert/rdrevert
utils/rdselect_helper/rd.h
utils/rdselect_helper/rdconfig.cpp
utils/rdselect_helper/rdconfig.h
utils/rdselect_helper/rdprofile.cpp
utils/rdselect_helper/rdprofile.h
utils/rdselect_helper/rdselect_helper
utils/sas_shim/sas_shim
web/rdfeed/rdfeed.xml
xdg/rdalsaconfig-root-consolehelper
xdg/rddbconfig-root-consolehelper
xdg/rivendell-opsguide-html.desktop
xdg/rivendell-opsguide-pdf.desktop
